<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</header>
<body>

<div class="container">
    <header>
        <h1>This is Node.js TODO app</h1>
        <p>you can manage your daily task by this app</p>
    </header>
    <h1><%= name %></h1>
    <div class="row">
        <div class="col">
            <form onsubmit="createTodo();return false;" autocomplete="off">
                <div class="form-group">
                    <label for="todo-title">Title</label>
                    <input type="text" class="form-control" id="todo-title">
                    <label for="todo-date">Date</label>
                    <input type="text" class="form-control" id="todo-date">
                    <label for="todo-text">Add Note</label>
                    <input type="text" class="form-control" id="todo-text">
                </div>
                <button class=" btn btn-success">add</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped" id="todo-table">
                <tbody>
                <tr v-for="todo in todos">
                    <td>{{todo.title}}</td>
                    <td>{{todo.date}}</td>
                    <td>{{todo.text}}</td>
                    <td><a v-on:click="deleteTodo(todo)" class="btn text-danger btn-sm">Delete</a></td>
                    <td><a v-on:click="updateTodo(todo)" class="btn text-warn btn-sm">update</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    var model = new Vue({
        el: '#todo-table',
        data: {
            todos: []
        },
        methods: {
            deleteTodo: function (todo) {
                $.ajax({
                    url: "/todos",
                    contentType: "application/json",
                    data: JSON.stringify(todo),
                    method: 'delete'
                }).done(function () {
                    gettodo();
                }).fail(function (err) {
                    console.log(err);
                    alert(err);
                })
            },
            updateTodo: function (oldTodo, newTodo) {
                $.ajax({
                    url: "/todos",
                    contentType: "application/json",
                    data: JSON.stringify({oldTodo, newTodo}),
                    method: 'put'
                }).done(function () {
                    gettodo();
                }).fail(function (err) {
                    console.log(err);
                    alert(err);
                })
            }
        }
    });
    function updateTodo  (oldTodo, newTodo) {
        $.ajax({
            url: "/todos",
            contentType: "application/json",
            data: JSON.stringify({oldTodo, newTodo}),
            method: 'put'
        }).done(function () {
            gettodo();
        }).fail(function (err) {
            console.log(err);
            alert(err);
        })
    }
    updateTodo({"text":"dfasdff","date":"fasdfas","title":"asdfasd"},{"text":"111","date":"22","title":"33"});
    function createTodo() {
        const todoText = $('#todo-text').val();
        const todoDate = $('#todo-date').val();
        const todoTitle = $('#todo-title').val();

        //validation
        if (!todoText || !todoDate || !todoTitle) {
            alert('you should enter correct data');
            return;
        }
        // add data
        $.post('/addTodo', {text: todoText, date: todoDate, title: todoTitle}, function (data) {
            model.todos.push(data);
        }).fail((err) => console.log(err));

        $('#todo-text').val('');
        $('#todo-date').val('');
        $('#todo-title').val('');

    }

    function gettodo() {
        console.log('gettodo');
        $.get('/getTodo', function (data) {
            model.todos = data;
        })
    }

    gettodo();
</script>
</body>

</html>
